@media screen and (max-width: 450px) {
  .equipment-selection__elem-value {
    width: 115px;
    height: 34px;
    margin: 10px 28px 0 0;
    padding: 6px 0 8px 10px;
    border-radius: 3px;
    border: solid 1px rgba(22, 50, 92, 0.2);
    background-color: var(--white);
  }

  input[type="text"].equipment-selection__elem-value {
    width: 115px;
    height: 34px;
    margin: 10px 28px 12px 0;
    padding: 6px 0 8px 10px;
    border-radius: 3px;
    border: solid 1px rgba(22, 50, 92, 0.2);
    background-color: var(--white);
  }

  input[type="text"].equipment-selection__elem-value:focus {
    box-shadow: var(--blue-blue);
    background-color: rgba(34, 60, 82, 0.04);
  }
}
@media screen and (max-width: 350px) {
  input[type="text"].equipment-selection__elem-value {
    width: 60%;
  }
}
