@import url(./__title/cart-smart-phone__title.css);
@import url(./__button/cart-smart-phone__button.css);
@import url(./__card/cart-smart-phone__card.css);
@import url(./__card/_between/cart-smart-phone__card_between.css);
@import url(./__card/_one-click/cart-smart-phone__card_one-click.css);
@import url(./__checkout-btn/cart-smart-phone__checkout-btn.css);
@import url(./__counter/cart-smart-phone__counter.css);
@import url(./__pic/cart-smart-phone__pic.css);
@import url(./__pic/_margin-right/cart-smart-phone__pic_margin-right.css);
@import url(./__price/cart-smart-phone__price.css);
@import url(./__cross/cart-smart-phone__cross.css);
@import url(./__wrap/cart-smart-phone__wrap.css);
@import url(./__counter-wrap/cart-smart-phone__counter-wrap.css);
@import url(./__wrap-row/cart-smart-phone__wrap-row.css);
@import url(./__wrap/_one-click/cart-smart-phone__wrap_one-click.css);

@import url(./__update-btn/cart-smart-phone__update-btn.css);
@import url(./__category/cart-smart-phone__category.css);


.cart-smart-phone {
  display: none;
}

@media screen and (max-width: 450px) {
  .cart-smart-phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
  }
}