.header__menu-col-title {
  font-family: Proxima Nova Rg;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: var(--dark);
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.header__menu-col-title:hover {
  color: #164cb5;
}
