.header__smart-phone-description-title {
  font-family: Proxima Nova Rg;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark);
  margin: 0;
  display: block;
  margin-left: 18px;
}
