.footer__col-title {
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-family: 'Proxima Nova Lt';
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.5px;
  color: var(--white);
}
