@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__error/popup__error.css);
@import url(./__content/_img-loader/popup__content_img-loader.css);
@import url(./__content/_img/popup__content_img.css);
@import url(./__button/_edit/popup__button_edit.css);
@import url(./__button/_avatar/popup__button_avatar.css);
@import url(./__button/_place/popup__button_place.css);
@import url(./__wrap/popup__wrap.css);



.popup {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 3000;
}
