.equipment-selection__calculate-button {
  width: 156px;
  height: 50px;
  border-radius: 3px;
  background-color: var(--blue-blue);
  font-family: Proxima Nova Rg;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  margin-top: 18px;
}

.equipment-selection__calculate-button:hover{
  background-color: var(--cornflower-blue);
  color: var(--white);
}