.popup-oneclick-smart-phone__text {
  font-family: Proxima Nova Rg;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(40, 41, 60, 0.7);
  text-align: center;
  padding: 0;
  margin: 0;
}
