.header__basket-container {
  position: relative;
  height: 32px;
  width: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  color: var(--white);
}

.header__basket-container:hover .header__item-icon_19px {
  opacity: .7;
}

/*
.header__basket-container:hover .header__basket-popup {
  display: block;
}
*/
