.header__basket-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
}

.header__basket-container:hover .header__basket-popup{
  display: block;
}
