@import url(./_is-closed/popup-intro_is-closed.css);

.popup-intro {
  background-color: var(--white);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  z-index: 98;
}

.popup-intro_is-closed {
  display: none;
}
