.popup-oneclick-smart-phone__button {
  border-radius: 5px;
  background-color: var(--blue-blue);
  color: var(--white);
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  padding-top: 17px;
  padding-bottom: 16px;
}
