@import url(./__swiper/intro__swiper.css);
@import url(./__swiper-slide/intro__swiper-slide.css);
@import url(./__swiper-slide-bg-pic/intro__swiper-slide-bg-pic.css);
@import url(./__swiper-slide-info/intro__swiper-slide-info.css);
@import url(./__swiper-slide-title/intro__swiper-slide-title.css);
@import url(./__swiper-next/intro__swiper-next.css);
@import url(./__swiper-pagination/intro__swiper-pagination.css);


.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

