.orders-smart-phone__data {
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark-50);
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 8px;
}

.orders-smart-phone__data:first-of-type {
  margin-top: 0px;
}
