.products-smart-phone__card-price {
  font-family: Proxima Nova Rg;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--blue-blue);
  background-color: transparent;
  padding-left: 12px;
  border-radius: 0 0 5px 5px;
  margin: 0;
}
