.popup__content {
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}
