@import url(./__logo/popup-preload__logo.css);
@import url(./__logo-pic/popup-preload__logo-pic.css);

.popup-preload {
  background-color: var(--blue-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 99;
  width: 100%;
  z-index: 1001;
}
