.categories-mobil__card-text {
  font-family: Proxima Nova Rg;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.5px;
  color: #5b6174;
  width: 100%;
  margin-bottom: 8px;
}
