@media screen and (max-width: 450px) {
  .equipment-selection__choice-item select {
    width: 100%;
    height: 40px;
    padding: 9px 16px 9px 13px;
    border-radius: 3px;
    border: solid 1px rgba(40, 41, 60, 0.2);
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231054DB'%3E%3Cpath d='M.411 0h11.195c.316 0 .537.38.284.642L6.42 6.825c-.19.233-.601.233-.791 0L.095.642C-.126.379.063 0 .411 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: calc(100% - 16px);
    opacity: 0.5;
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: var(--dark);
  }
  .equipment-selection__choice-item select.open {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cg class='layer'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg transform='rotate(180 5.9999895095825195,3.499875068664551) ' id='svg_1' fill-rule='evenodd' fill='none'%3E%3Cg id='svg_2' fill='%231054DB'%3E%3Cpath id='svg_3' d='m0.411,0l11.195,0c0.316,0 0.537,0.38 0.284,0.642l-5.47,6.183c-0.19,0.233 -0.601,0.233 -0.791,0l-5.534,-6.183c-0.221,-0.263 -0.032,-0.642 0.316,-0.642'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  form {
    width: 100%;
  }
}
