@import url(./__form/equipment-selection__form.css);
@import url(./__choice/equipment-selection__choice.css);
@import url(./__choice-col/equipment-selection__choice-col.css);
@import url(./__choice-color/equipment-selection__choice-color.css);
@import url(./__choice-item/equipment-selection__choice-item.css);
@import url(./__table/equipment-selection__table.css);
@import url(./__td/equipment-selection__td.css);
@import url(./__elem/equipment-selection__elem.css);
@import url(./__elem-value/equipment-selection__elem-value.css);
@import url(./__description/equipment-selection__description.css);
@import url(./__info/equipment-selection__info.css);
@import url(./__info-pointer/equipment-selection__info-pointer.css);
@import url(./__link/equipment-selection__link.css);

.equipment-selection {
  display: flex;
  flex-direction: column;
  max-width: 648px;
}
