.two-blocks__title {
  font-family: Proxima Nova Rg;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--pale-grey);
  margin-bottom: 0;
}

@media screen and (max-width: 1030px) {
  .two-blocks__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 780px) {
  .two-blocks__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 740px) {
  .two-blocks__title {
    font-size: 20px;
  }
}