@import url(./__wrap/header__wrap.css);
@import url(./__wrap/_mobil-top/header__wrap_mobil-top.css);
@import url(./__wrap/_mobil-cart/header__wrap_mobil-cart.css);

@import url(./__top-item/header__top-item.css);
@import url(./__top-item/_mobil/header__top-item_mobil.css);
@import url(./__top-item-text/header__top-item-text.css);
@import url(./__item-icon/header__item-icon.css);
@import url(./__item-icon/_19px/header__item-icon_19px.css);
@import url(./__item-icon/_17px/header__item-icon_17px.css);
@import url(./__my-account-link/header__my-account-link.css);
@import url(./__item-icon-fill/header__item-icon-fill.css);
@import url(./__container-flex/header__container-flex.css);
@import url(./__container-flex/_blue/header__container-flex_blue.css);
@import url(./__container-flex/_grey/header__container-flex_grey.css);
@import url(./__container-flex/_mobil/header__container-flex_mobil.css);
@import url(./__logo-link/header__logo-link.css);
@import url(./__nav-bottom/header__nav-bottom.css);
@import url(./__nav-bottom-text/header__nav-bottom-text.css);
@import url(./__icon-blue/header__icon-blue.css);
@import url(./__nav-bottom-text/_orange/header__nav-bottom-text_orange.css);
@import url(./__menu/_systems/header__menu_systems.css);
@import url(./__nav-bottom/_systems/header__nav-bottom_systems.css);
@import url(./__menu/_trunk/header__menu_trunk.css);
@import url(./__nav-bottom/_trunk/header__nav-bottom_trunk.css);
@import url(./__menu/_drinking/header__menu_drinking.css);
@import url(./__nav-bottom/_drinking/header__nav-bottom_drinking.css);
@import url(./__menu-col-link/header__menu-col-link.css);
@import url(./__item-icon/_rotating/header__item-icon_rotating.css);
@import url(./__item-icon-sale/header__item-icon-sale.css);
@import url(./__spliter/header__spliter.css);
@import url(./__tel/header__tel.css);
@import url(./__dealer/header__dealer.css);
@import url(./__logo/header__logo.css);
@import url(./__nav/header__nav.css);
@import url(./__nav-top/header__nav-top.css);
@import url(./__nav-item/header__nav-item.css);
@import url(./__nav-item/_main/header__nav-item_main.css);
@import url(./__nav-item/_one/header__nav-item_one.css);
@import url(./__nav-item/_page/header__nav-item_page.css);
@import url(./__nav-item/_menu/header__nav-item_menu.css);
@import url(./__menu/header__menu.css);
@import url(./__menu-col/header__menu-col.css);
@import url(./__menu-col-title/header__menu-col-title.css);
@import url(./__menu-col-link/header__menu-col-link.css);
@import url(./__menu/_product/header__menu_product.css);
@import url(./__menu/_services/header__menu_services.css);
@import url(./__nav-item/_menu/header__nav-item_menu_product.css);
@import url(./__nav-item/_menu/header__nav-item_menu_services.css);
@import url(./__item-icons/header__item-icons.css);
@import url(./__basket-container/header__basket-container.css);
@import url(./__basket-popup/header__basket-popup.css);
@import url(./__goods-count/header__goods-count.css);
@import url(./__search-container/header__search-container.css);
@import url(./__item-icon/_basket/header__item-icon_basket.css);
@import url(./__item-icon/_search/header__item-icon_search.css);
@import url(./__help-button/header__help-button.css);
@import url(./__help-icon/header__help-icon.css);
@import url(../popup/popup.css);
@import url(../header/__wrap/_grey/header__wrap_grey.css);
@import url(../header/__close-item/header__close-item.css);
@import url(./_smart-phone/header_smart-phone.css);
@import url(./_desktop-tablet/header_desktop-tablet.css);
@import url(./__logo/_smart-phone/header__logo_smart-phone.css);
@import url(./_smart-phone/header_smart-phone_fixed.css);

.header {
  width: 100%;
  margin: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pale-grey);
  font-family: Proxima Nova Rg, sans-serif;
}

/* модернизируем блок search*/

.woocommerce-product-search {
  width: 700px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1380px) {
  .woocommerce-product-search {
    width: 500px;
  }
}

@media screen and (max-width: 1020px) {
  .woocommerce-product-search {
    width: 277px;
  }
}

@media screen and (max-width: 370px) {
  .woocommerce-product-search {
    width: 220px;
  }
}

.widget_product_search form::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  line-height: inherit;
  vertical-align: baseline;
  content: "\f002";
  position: absolute;
  top: 8px;
  left: 12px;
  line-height: 1;
  color: rgba(40, 41, 60, 40);
}

.widget_product_search form input[type="search"] {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 8px;
  padding-left: 40px;
  padding-right: 40px;
  height: 34px;
  background-color: #f7f7f7;
  outline-style: none;
  font-family: Proxima Nova Rg;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: -0.1px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  background-color: rgb(171, 187, 252);
  color: #28293c;
}

.widget_product_search form input[type="search"]:focus {
  background-color: #f1f6ff;
  color: #28293c;
}

.widget_product_search form input[type="search"]:focus .widget_product_search form::before:focus {
  color: #28293c;
}

/*{

  border: 1px solid red;
  box-sizing: border-box;

}*/
