.cart-smart-phone__total-title {
  width: 188px;
  height: 20px;
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: rgba(40, 41, 60, 0.7);
}
