.footer__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}

@media screen and (max-width: 1240px) {
  .footer__wrap {
    padding-left: 75px;
    padding-right: 75px;
    }
}

@media screen and (max-width:1025px) {
  .footer__wrap {
    padding-left: 35px;
    padding-right: 35px;
    }
}

@media screen and (max-width: 950px) {
  .footer__wrap {
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    }
}