.sub-categories__card {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(40, 41, 60, 0.2);
}

