@import url(./__container/services__container.css);
@import url(./__service-description/services__service-description.css);
@import url(./__service/services__service.css);
@import url(./__title-service/services__title-service.css);
@import url(./__title/services__title.css);


.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  background-color: var(--white);
}
