.header__menu-col-link {
  font-family: Proxima Nova Rg;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  color: var(--dark);
  margin-top: 15px;
}

.header__menu-col-link:first-of-type {
  margin-top: 0px;
}

.header__menu-col-link:hover {
  color: #164cb5;
}

