.categories-mobil__card-title {
  font-family: Proxima Nova Rg;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.1px;
  color: var(--dark);
  width: 100%;
  margin-bottom: 6px;
}

@media screen and (max-width: 330px) {
  .categories-mobil__card-title {
    font-size: 10px;
    margin-bottom: 0;
  }
}
