.checkout.woocommerce-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
  width: 100%;
}

#customer_details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-right: 0px;
}

#customer_details .col-1 {
  width: 50%;
  margin-right: 40px;
}

#customer_details .col-2 {
  padding-top: 0px;
  width: 50%;
  margin-bottom: 0;
}

#order_review.woocommerce-checkout-review-order {
  width: 100%;
}

#payment.woocommerce-checkout-payment {
  border: 1px solid var(--dark-70);
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
  display: none;
}

#ship-to-different-address-checkbox.woocommerce-form__input.woocommerce-form__input-checkbox.input-checkbox {
  display: none;
  margin: 0;
  padding: 0;
}

#ship-to-different-address {
  margin: 0;
  padding: 0;
}

#order_comments_field {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-template-template-fullwidth-php #order_review_heading {
  width: 100%;
  margin-bottom: 27px;
}

.shop_table.woocommerce-checkout-review-order-table .product-name,
.product-total {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.shop_table.woocommerce-checkout-review-order-table td.product-total {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.shop_table.woocommerce-checkout-review-order-table {
  border: solid 1px #f5f7f7;
}

tfoot tr.cart-subtotal th {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
  border-top: solid 1px #f5f7f7;
  border-right: solid 1px #f5f7f7;
}

tfoot tr.cart-subtotal td{
  border-top: solid 1px #f5f7f7;

}

tfoot tr.order-total th {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
  border-top: solid 1px #f5f7f7;
  border-right: solid 1px #f5f7f7;
}


tfoot tr.order-total td{
  border-top: solid 1px #f5f7f7;

}


tfoot tr.cart-subtotal td .woocommerce-Price-amount.amount {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
}

tfoot strong span.woocommerce-Price-amount.amount {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
}

tr.woocommerce-shipping-totals.shipping th {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
  display: none;
}

tr.woocommerce-shipping-totals.shipping {
  display: none;
}