.checkout.woocommerce-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
  width: 100%;
}

#customer_details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-right: 0px;
}

#customer_details .col-1 {
  width: 50%;
  margin-right: 40px;
}

#customer_details .col-2 {
  padding-top: 0px;
  width: 50%;
  margin-bottom: 0;
}

#order_review.woocommerce-checkout-review-order {
  width: 100%;
}

#payment.woocommerce-checkout-payment {
  border: 1px solid var(--dark-70);
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
  display: none;
}

#ship-to-different-address-checkbox.woocommerce-form__input.woocommerce-form__input-checkbox.input-checkbox {
  display: none;
  margin: 0;
  padding: 0;
}

#ship-to-different-address {
  margin: 0;
  padding: 0;
}

#order_comments_field {
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-template-template-fullwidth-php #order_review_heading {
  width: 100%;
  margin-bottom: 27px;
}

.shop_table.woocommerce-checkout-review-order-table .product-name,
.product-total {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.shop_table.woocommerce-checkout-review-order-table td.product-total {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.shop_table.woocommerce-checkout-review-order-table {
  border: solid 1px #f5f7f7;
}

tfoot tr.cart-subtotal th {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
  border-top: solid 1px #f5f7f7;
  border-right: solid 1px #f5f7f7;
}

tfoot tr.cart-subtotal td {
  border-top: solid 1px #f5f7f7;
}

tfoot tr.order-total th {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
  border-top: solid 1px #f5f7f7;
  border-right: solid 1px #f5f7f7;
}

tfoot tr.order-total td {
  border-top: solid 1px #f5f7f7;
}

tfoot tr.cart-subtotal td .woocommerce-Price-amount.amount {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
}

tfoot strong span.woocommerce-Price-amount.amount {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
}

tr.woocommerce-shipping-totals.shipping th {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  background-color: #fff;
}

#payment .payment_methods > li:not(.woocommerce-notice) {
  background-color: #fff;
}

.woocommerce-privacy-policy-text {
  display: none;
}

#payment .place-order {
  background-color: #fff;
}

#payment .place-order .button {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--blue-blue);
  width: 156px;
  font-family: Proxima Nova Rg;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

#payment .payment_methods li input[type="radio"]:first-child:checked + label::before {
  font-size: 20px;
  color: var(--blue-blue);
  content: "\f110";
}

#payment .payment_methods > .wc_payment_method > label::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 100;
  line-height: inherit;
  vertical-align: baseline;
  content: "\f111";
  color: var(--blue-blue);
  font-size: 20px;
  margin-right: 0.5407911001em;
  -webkit-transition: color, ease, 0.2s;
  transition: color, ease, 0.2s;
}

.payment_box.payment_method_cod p {
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

#billing_city_field {
  width: 45.4545454545%;
  float: left;
  margin-right: 9.0909090909%;
  display: none;
}

#billing_address_1_field {
  width: 45.4545454545%;
  width: 100%;
}

#billing_phone_field {
  width: 45.4545454545%;
  float: left;
  margin-right: 9.0909090909%;
}

#billing_email_field {
  width: 45.4545454545%;
}

.checkout-inputs {
  width: 100%;
  display: flex;
}

.checkout-inputs_adress {
  display: none;
}

#order_comments {
  height: 163px;
}

.woocommerce-form-coupon-toggle {
  display: none;
}

#order_comments {
  display: none;
}

table.shop_table.woocommerce-checkout-review-order-table tfoot {
  display: none;
}

table.shop_table.woocommerce-checkout-review-order-table {
  margin-top: 1.618em;
}

#order_review_heading {
  display: none;
}

#pickup-items-field-for-0 {
  display: none;
}

.pickup-location-address {
  display: none;
}

input[type='radio'].shipping_method {
  cursor: pointer;
}

input[type='radio'].shipping_method {
  position: relative;
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio'].shipping_method::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid var(--blue-blue);
}

input[type='radio'].shipping_method:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--blue-blue);
  transform: translate(-50%, -50%);
  visibility: visible;
}

ul#shipping_method li {
  display: flex;
  align-items: center;
}

input[type="radio"] + label {
  cursor: pointer;
}


ul#shipping_method li:last-of-type {
  margin-top: 30px;
}

.shiping-head {
  margin-bottom: 6px;
}

.woocommerce-billing-fields__field-wrapper p {
  margin-bottom: 18px;
}

.summa-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--blue-blue);
  padding-top: 17px;
  padding-bottom: 17px;
}

.total,
.total-order-summa {
  width: 50%;
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
  padding-left: 21px;
}

th.product-total,
th.product-name {
  width: 50%;
}

td.product-total,
th.product-total {
  padding-left: 50px;
}

#customer_details {
  margin-top: 1.618em;
}

#billing_address_1_field {
  display: none;
}

@media screen and (max-width: 1240px) {
  .storefront-full-width-content.woocommerce-checkout .entry-header {
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  #customer_details {
    flex-direction: column;
    width: 100%;
  }

  #customer_details .col-2 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  #customer_details .col-1 {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  table.shop_table_responsive tr td {
    width: 100%;
  }
}
