@import url(../blocks/main/main.css);
@import url(../blocks/promo/promo.css);
@import url(../blocks/services/services.css);
@import url(../blocks/top-products/top-products.css);
@import url(../blocks/certificates/certificates.css);
@import url(../blocks/two-blocks/two-blocks.css);
@import url(../blocks/water/water.css);
@import url(../blocks/equipment/equipment.css);
@import url(../blocks/advantage/advantage.css);
@import url(../blocks/popup/popup.css);

@import url(../blocks/mobil-version/mobil-version.css);
@import url(../blocks/categories-mobil/categories-mobil.css);
@import url(../blocks/analysis-mobil/analysis-mobil.css);
@import url(../blocks/equipment-selection-mobil/equipment-selection-mobil.css);
@import url(../blocks/single-mobil-card/single-mobil-card.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup-preload/popup-preload.css);

@import url(../blocks/swiper-container/swiper-container.css);
@import url(../blocks/swiper-wrapper/swiper-wrapper.css);
@import url(../blocks/swiper-slide/swiper-slide.css);



.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 0;
}


div.col-full{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.site-content {
  padding: 0;
}

#primary.content-area {
  padding: 0;
  margin: 0;
}

.woocommerce {
  padding: 0;
  margin: 0;
}

#main.site-main {
  padding: 0;
  margin: 0;
  display: none;
}
