.main {
  padding-top: 65px;
  padding-bottom: 65px;
}

p {
  margin: 0;
}

.title {
  font-family: Proxima Nova Rg;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  margin-bottom: 0px;
}

.title_about-company {
  margin-bottom: 35px;
}

.sub-title {
  font-family: Proxima Nova Rg;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-blue);
  margin-top: 35px;
  margin-bottom: 25px;
}

.description {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: var(--dark);
  max-width: 900px;
  line-height: 1.63;
}

.description__link {
  color: var(--blue-blue);
}

.description__insert {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: normal;
  color: var(--dark);
}

.description__insert_about-company {
  display: block;
  max-width: 450px;
}

.delivery-adress {
  max-width: 900px;
  border-right: 1px solid #f5f7f7;
}

.delivery-adress__th {
  font-family: Proxima Nova Rg;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.delivery-adress__tr {
  font-family: Proxima Nova Rg;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
}

.delivery-adress__td {
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--dark);
  border-left: 1px solid #f5f7f7;
  border-bottom: 1px solid #f5f7f7;
}

.delivery-adress__td-insert {
  font-weight: 600;
}

.records {
  margin-left: 15px;
  max-width: 900px;
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: var(--dark);
}

.page-payment-mobile {
  display: none;
}

@media screen and (max-width: 750px) {
  .delivery-adress {
    max-width: 700px;
  }

  table.delivery-adress tr {
    display: flex;
    flex-direction: column;
  }

  .repair__form {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .main {
    padding-top: 0;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
  }

  /* Для страницы "О компании" */

  /* .description{
    line-height: 24px; */
  /* .title_about-company,
    .sub-title {
      display: none;
  } */
  /* .description{
      line-height: 24px;
      font-weight: normal;
    } 
    div.main p.description:nth-child(3),
    div.main p.description:nth-child(4) {
    display: none;
    }
    h4.description{
      font-weight: bold;
      margin: 0;
    } */

  /* Для страницы "Доставка" */

  /* .title{
       display: none;
     }
     */
}
