/*смартфон*/

.display-none {
  display: initial;
}

.form-description {
  display: none;
}

.form-description_link-button {
  display: none;
}

p#billing_wooccm12_field {
  display: none;
}

@media screen and (max-width: 450px) {
  p {
    margin: 0;
  }

  p.form-row span {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.5; */
    letter-spacing: normal;
    color: rgba(40, 41, 60, 0.5);
  }

  .woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
    margin-bottom: 24px;
  }
  .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
    margin-bottom: 25px;
  }
  button.woocommerce-button button.woocommerce-form-login__submit {
    height: 44px;
    margin: 24px 1px 12px 0;
    padding: 12px 16px;
    border-radius: 5px;
  }
  .site-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  textarea,
  .input-text::placeholder {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 14px;
    font-family: Proxima Nova Rg;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    background-color: var(--white);
    border: solid 1px #dcdcdc;
  }

  .show-password-input {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    line-height: 1;
    cursor: pointer;
  }
  .u-column1 label,
  .u-column2 label {
    font-family: Proxima Nova Rg;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--dark);
    margin-bottom: 8px;
  }

  button.woocommerce-button.button {
    width: 100%;
    height: 44px;
    border-radius: 5px;
    background-image: linear-gradient(339deg, #1054db 66%, #135be9 35%);
    box-shadow: 0 8px 10px 0 rgba(16, 84, 219, 0.3), inset 0 10px 10px 0 #1463ff;
    color: var(--white);
  }

  p.woocommerce-LostPassword.lost_password a {
    text-align: center;
    text-decoration: none !important;
    margin-top: 12px;
    font-family: Proxima Nova Rg;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--blue-blue);
    display: block;
    width: 100%;
  }

  .form-row input[type="checkbox"] {
    display: none;
  }

  .woocommerce-form-login__rememberme span:before {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 3px;
    border: solid 1px #dcdcdc;
    padding-left: 5px;
    margin-right: 8px;
    box-sizing: border-box;
  }

  .woocommerce-form-login__rememberme span {
    display: inline-block;
    line-height: 20px;
    box-sizing: border-box;
  }

  input[type="checkbox"] + span:before {
    content: "\2713";
    color: var(--white);
    height: 20px;
    width: 20px;
    font-size: 20px;
    box-sizing: border-box;
  }

  input[type="checkbox"]:checked + span:before {
    content: "\2713";
    border-radius: 3px;
    border: solid 1px var(--blue-blue);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 900;
    color: var(--white);
    line-height: 20px;
    background-color: var(--blue-blue);
    box-sizing: border-box;
  }

  h1.entry-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(40, 41, 60, 0.87);

    position: absolute;
    top: -150px;
  }

  h2 {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--dark);
    /* color: rgba(40, 41, 60, 0.87); */
  }

  .form-description {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--dark-70);
    margin-bottom: 15px;
  }
  .form-description:last-child {
    text-align: center;
  }
  .form-description:first-child {
    margin-bottom: 10px;
  }

  .form-description_link-button {
    display: inline-block;
    color: #1856bd;
    cursor: pointer;
    margin-bottom: 0px;
  }

  .display-none-smart-phone {
    display: none;
  }

  .display-flex-smart-phone {
    display: flex;
  }

  .hentry .entry-content a {
    text-decoration: none;
  }

  #billing_phone_field {
    width: 100%;
    margin-right: 0;
  }

  #billing_email_field {
    width: 100%;
    margin-right: 0;
  }
}
