/* Заказы */
.woocommerce-orders-table__cell-order-number a,
.woocommerce-orders-table__cell-order-date,
.woocommerce-orders-table__cell-order-status,
.woocommerce-orders-table__cell-order-total {
  font-family: Proxima Nova Rg, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--dark);
}

.woocommerce-orders-table__cell-order-number a {
  font-weight: bold;
}

.my_account_orders .button.view::after {
  font-size: 12px;
  color: var(--blue-blue);
  margin-left: 0.5407911001em;
}

.my_account_orders .button {
  padding: 0;
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  background-color: transparent;
  color: var(--dark);
}

table.account-orders-table th, td {
  padding-left: 1em;
  padding-right: 1em;
}

table.account-orders-table{
  border: 1px solid #e9e9eb;
}


.my_account_orders .button:hover:hover {
  background-color: transparent;
}
/***************************/

@media screen and (max-width: 450px) {
  button[type="submit"] {
    display: block;
  }
}

