@media screen and (max-width: 450px) {
  p {
    padding-top: 0;
    margin: 0 0 1.41575em !important;
    text-decoration: none;
  }
  .main {
    padding-top: 0;
    padding-bottom: 25px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
  }
  .title {
    display: none;
  }

  p.description {
    line-height: 1.5;
    color: var(--dark);
  }
  p.description span {
    font-weight: normal;
  }

  .title_about-company,
  .sub-title {
    display: none;
  }
  .description {
    line-height: 1.5;
    font-weight: normal;
  }
  .main .description:last-child {
    display: none;
  }
  h4.description {
    font-weight: bold;
    margin: 0;
  }
}
