.intro__swiper-next {
  right: initial;
  left: initial;
  top: initial;
  margin: 0;
  bottom: initial;
  position: relative;
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}

.intro__swiper-next::after {
  content: '';
}
