.promo__records {
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: -0.1px;
  color: #2f3042;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

@media screen and (max-width: 1350px) {
  .promo__records {
    font-family: Proxima Nova Rg;
    font-size: 12px;
    margin-bottom: 20px;
    }
}