.categories-mobil__card-price {
  font-family: Proxima Nova Rg;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: -0.14px;
  color: var(--blue-blue);
  margin-bottom: 0;
  width: 100%;
}
