.promo__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: var(--pale-grey);
}

/*
  background-image: url(../../../../images/background_pattern.png);
  background-blend-mode: multiply;
  background-size: contain;
  transition: background-color .5s linear;
  */

/*
.promo__content:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color .5s linear;
}
*/
