.promo__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  background-color: var(--pale-grey);
}

@media screen and (max-width: 1240px) {
  .promo__content {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 35px;
    }
}

@media screen and (max-width: 950px) {
  .promo__content {
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    }
}

@media screen and (max-width: 760px) {
  .promo__content {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    }
}