.product-smart-phone__price {
  font-family: Proxima Nova Rg;
  font-size: 21px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-blue);
  margin-bottom: 0px;
  margin-right: 16px;
}
