.two-blocks__text {
  font-family: Proxima Nova Rg;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--pale-grey);
  margin-top: 23px;
  margin-bottom: 0;
}

@media screen and (max-width: 950px) {
  .two-blocks__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 740px) {
  .two-blocks__text {
    font-size: 14px;
  }
}