@import url(./__title/categories-mobil__title.css);
@import url(./__card-pic/categories-mobil__card-pic.css);
@import url(./__card-text/categories-mobil__card-text.css);
@import url(./__card-title/categories-mobil__card-title.css);
@import url(./__card-price/categories-mobil__card-price.css);


.categories-mobil {
  display: grid;
  width: 100%;
  grid-template-columns: 48% 48%;
  grid-template-rows: repeat(2, 205px);
  gap: 14px 14px;
  grid-template-areas: "categories-mobil__card-1 categories-mobil__card-2"
    "categories-mobil__card-3 categories-mobil__card-4";
}

.categories-mobil__card-1 {
  grid-area: categories-mobil__card-1;
}

.categories-mobil__card-2 {
  grid-area: categories-mobil__card-2;
}

.categories-mobil__card-3 {
  grid-area: categories-mobil__card-3;
}

.categories-mobil__card-4 {
  grid-area: categories-mobil__card-4;
}

.categories-mobil__card-1,
.categories-mobil__card-2,
.categories-mobil__card-3,
.categories-mobil__card-4 {
  border-radius: 3px;
  box-shadow: 6px 6px 16px 0 rgba(40, 41, 60, 0.16), -6px -6px 16px 0 var(--white);
  background-color: #fefefe;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
