.certificates {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  background-color: var(--white);
  padding-top: 26px;
  padding-bottom: 26px;
}

.certificates__title {
  display: none;
}

.certificates__container {
  background-color: var(--white);
  width: 80%;
  display: flex;
}

.certificate__container {
  display: flex;
  align-items: center;
}

.certificate__container:first-child {
  margin-right: 150px;
}

.certificate__container:last-child {
  margin-left: 90px;
}


.certificate__pic {
  width: 95px;
  height: 95px;
  margin-right: 20px;
  background-color: transparent;
}

.certificate__title {
  color: var(--blue-blue);
  font-family: Proxima Nova Rg;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  color: var(--blue-blue);
}

.certificate__description {
  width: 194px;
  min-width: 194px;
}

.certificate__about {
  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: var(--dark);
}
