.water-analysis-smart__text {
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.50;
  letter-spacing: normal;
  color: var(--dark);
}
