.popup-help-smart-phone__time-job {
    font-family: Proxima Nova Rg;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgba(40, 41, 60, 0.7);
}
