.mobil-version {
  display: none;
}

@media screen and (max-width: 620px) {
  .mobil-version {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ecedf6;
  }
}
