@import url(./__content/promo__content.css);
@import url(./__wrap/promo__wrap.css);
@import url(./__item-wrap/promo__item-wrap.css);
@import url(./__item-icon/promo__item-icon.css);
@import url(./__item/promo__item.css);
@import url(./__title/promo__title.css);
@import url(./__button/promo__button.css);
@import url(./__description/promo__description.css);
@import url(./__pic/promo__pic.css);
@import url(./__records/promo__records.css);
@import url(./__button-pic/promo__button-pic.css);

.promo {
  background: var(--white);
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 620px) {
  .promo {
    display: none;
  }
}
