.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
  max-width: 1440px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
