.footer-smart.footer-smart_cart {
  height: 80px;
  box-shadow: 0 2px 19px 0 rgba(222, 224, 226, 0.2);
  background-color: var(--white);
}

@media screen and (max-width: 450px) {
  .footer-smart.footer-smart-cart {
    height: initial;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: var(--white);
    box-shadow: 0 -16px 40px 0 rgba(22, 50, 92, 0.05);
  }
}
