.popup-oneclick__form {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  .popup-oneclick__form {
    flex-direction: column;
  }
}
