.product-smart-phone__button-description {
  display: flex;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 22px;
  background-color: transparent;
}

.product-smart-phone__button-description:hover {
  background-color: transparent;
}
