.header.header_smart-phone {
  display: none;
}

.buffer-for-sticky {
  display: none;
}

@media screen and (max-width: 450px) {
  .header.header_smart-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--white);
    box-shadow: 0 16px 40px 0 rgba(40, 41, 60, 0.05);
    z-index: 9;
    height: 65px;
  }

  .header.header_smart-phone.header_smart-phone_align {
    justify-content: initial;
  }

  .header.header_smart-phone.header_smart-phone_blue {
    background-color: var(--blue-blue);
    box-shadow: none;
  }

  .header.header_smart-phone.header_smart-phone_is-closed {
    display: none;
  }

  /* буфер для липкого меню */
  .buffer-for-sticky {
    display: block;
    height: 0;
    width: 100%;
  }
}
