.footer__col-link {
  text-decoration: none;
  opacity: 0.4;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: -0.1px;
  color: #fff;
  margin-top: 12px;
  transition: transform .5s, opacity 1s ease;
}

.footer__col-link:hover {
  transform: translateX(10px);
  opacity: 1;
}