@import url(./__description/equipment-selection-smart-phone__description.css);
@import url(./__description-insert/equipment-selection-smart-phone__description-insert.css);
@import url(./__choice/equipment-selection-smart-phone__choice.css);
@import url(./__choice-col/equipment-selection-smart-phone__choice-col.css);
@import url(./__choice-item/equipment-selection-smart-phone__choice-item.css);
@import url(./__select/equipment-selection-smart-phone__select.css);

@media screen and (max-width: 450px) {
  main {
    background-color: #f8f8f8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
