.header__goods-count {
  top: 16px;
  left: 12px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
  position: absolute;
  background-color: var(--dull-orange);
  padding: 0;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 3px;
  line-height: 1;
}

.header__goods-count .cart-contents {
  color: #fff;
}

.header__goods-count .cart-contents:hover {
  color: #fff;
}

@media screen and (max-width: 415px) {
  .header__goods-count{
    top: 56px;
  }
}