.header__nav-bottom {
  display: flex;
  align-items: center;

  font-family: Proxima Nova Rg;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  color: var(--blue-blue);
  height: 100%;
}

.header__nav-bottom:hover .header__nav-bottom-text {
  color: var(--cornflower-blue);
}

.header__nav-bottom:hover .header__item-icon_rotating {
  transition: transform .5s;
  transform: rotate(180deg);
}

.header__nav-bottom:hover .header__item-icon-sale {
  transition: transform .5s;
  transform: rotate(360deg);
}

.header__nav-bottom:hover {
  background-color: #fff;
  color: var(--cornflower-blue);
}

.header__nav-bottom:hover .header__nav-bottom-text_orange {
  color: var(--dull-orange);
  opacity: .7;
}

.header__nav-bottom:hover .header__item-icon_orange {
  fill: var(--dull-orange);
  opacity: .7;
}

@media screen and (max-width: 1150px) {
  .header__nav-bottom {
    font-size: 12px;
  }
}


@media screen and (max-width: 800px) {
  .header__nav-bottom {
    font-size: 10px;
  }
}
