@import url(./__button/empty-cart-smart-phone__button.css);
@import url(./__pic/empty-cart-smart-phone__pic.css);
@import url(./__text/empty-cart-smart-phone__text.css);
@import url(./__title/empty-cart-smart-phone__title.css);

.empty-cart-smart-phone {
  display: none;
}

@media screen and (max-width: 450px) {
  .empty-cart-smart-phone {
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 223px);
  }
  .site-main {
    margin-bottom: 0;
    height: calc(100vh - 123px);
  }

  #post-8 {
    margin-bottom: 0;
  }
}
