.cart-smart-phone__price {
  font-family: Proxima Nova Rg;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--blue-blue);
  margin: 0;
  margin-right: 8px;
}
