.footer-smart.footer-smart_cart-empty {
  background-color: var(--white);
  box-shadow: none;

  height: initial;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}
