.header__container-flex_blue {
  background-color: var(--blue-blue);
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-top: 19px;
  padding-bottom: 19px;
}


@media screen and (max-width: 415px) {
  .header__container-flex_blue {
    padding-top: 10px;
    padding-bottom: 10px;
    }
}