.header__item-icon {
  height: 13px;
  width: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__item-icon:hover + .header__top-item-text {
  color: rgba(40, 41, 60, 70);
}

