.cart-smart-phone__card {
  display: flex;
  width: 100%;
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  margin-bottom: 16px;
  background-color: transparent;
  border-bottom: 1px solid rgba(22, 50, 92, 0.1);
}
