.checkout-smart-phone__card-description {
  opacity: 0.5;
  font-family: Proxima Nova Rg;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--dark);
  margin: 0;
  margin-top: 6px;
}
